<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:site_name" content="{{ site.name }}">
        <meta property="og:url" content="http://www.desmondmorris.com">
        <meta property="og:image" content="{{ site.links.avatar }}">
        <meta property="og:title" content="{{ site.name }}">
        <meta property="og:description" content="{{ site.description }}">
        <meta property="og:type" content="website">

        <link rel="author" href="humans.txt" />

        <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/{{ site.vendor.normalize }}/normalize.min.css" />

        {% css_asset_tag app %}
        - /vendor/pure/pure-min.css
        - /sass/app.sass
        {% endcss_asset_tag %}

        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/{{ site.vendor.modernizr }}/modernizr.min.js"></script>

    </head>
    <body>

        <div class="site">
            <header id="sidebar">
                <div id="card">
                    <a href="/"><img src="/images/avatar.jpg" class="avatar" alt="Desmond Morris" /></a>
                    <h2><a href="/">Desmond Morris</a></h2>
                    <p>{{ site.description }}</p>

                    <nav>
                        <ul>
                            <li><a href="/about">About</a></li>
                            <li><a href="/blog">Blog</a></li>

                        </ul>
                    </nav>

                    <ul class="social">
                        <li><a href="{{ site.links.twitter }}" class="twitter" target="_blank">twitter</a></li>
                        <li><a href="{{ site.links.github }}" class="github" target="_blank">github</a></li>
                        <li><a href="{{ site.links.linkedin }}" class="linkedin" target="_blank">linkedin</a></li>
                    </ul>
                </div>
            </header>
            <div id="main" role="main">{{ content }}</div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/{{ site.vendor.jquery }}/jquery.min.js"></script>

        {% javascript_asset_tag app %}
        - /js/app.coffee
        {% endjavascript_asset_tag %}

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{ site.googleanalytics.id }}');ga('send','pageview');
        </script>
    </body>
</html>
