<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="author" href="humans.txt" />
        <link rel="shortcut icon" href="{% asset_path favicon.ico %}" />

        <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css" />

        {% stylesheet app %}

        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

    </head>
    <body>

        <div class="site">
            <header id="sidebar">
                <div id="card">
                    <a href="/"><img src="{% asset_path avatar.jpg %}" class="avatar" /></a>
                    <h2><a href="/">Desmond Morris</a></h2>
                    <p>{{ site.description }}</p>
                    <ul class="social">
                        <li><a href="{{ site.links.twitter }}" class="twitter" target="_blank">twitter</a></li>
                        <li><a href="{{ site.links.github }}" class="github" target="_blank">github</a></li>
                        <li><a href="{{ site.links.linkedin }}" class="linkedin" target="_blank">linkedin</a></li>
                    </ul>
                </div>
            </header>
            <div id="main" role="main">{{ content }}</div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        {% javascript app %}

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{ site.googleanalytics.id }}');ga('send','pageview');
        </script>
    </body>
</html>
